<!DOCTYPE html>

<html lang="en">
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <title>ChatRoom</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-custom">
                <a href="" class="navbar-brand col-2 offset-5" style="text-align: center;">
                    <span style="color: red">Chat</span>
                    <span style="color: green;">Room</span>
                </a>
        </nav> 

        <div class="container-fluid" hidden="true" id="nameForm">
            <br>
            <h3 style="text-align: center; color: green">Please submit a display name</h3>
            <br>
            <form action="" class="col-4 offset-4" onsubmit="addDisplayName()">
                <input type="text" class="form-control" style="text-align: center;" placeholder="name" id="displayName">
                <input type="submit" class="form-control btn btn-primary">
            </form>
        </div>
        <div id="restOfApp" class="restOfApp row" style="height: 100%;">
            <div id="sidebar" class="col-3 sidebar">
                <div class="container-fluid" style="text-align: center;">
                    <h3 id="userName"></h3>
                </div>
                <br><br>

                <div class="container-fluid" style="text-align: center;" >
                    <div id="channelCreateDiv">
                        <h3>Create New Channel</h3>
                        <input type="text" placeholder="channel name" class="form-control" style="text-align: center;" id="channelName">
                        <button class="btn btn-primary form-control col-5" id="createBtn">Create</button>
                        <button hidden id="emitterChannelCreated"></button>
                    </div>
                </div>
                <br><br>
                <div class="container-fluid" style="text-align: center;" id="channelListDiv">
                    <h3>List Of Channels:</h3>
                    <div id="channelList">
                            
                    </div>
                </div>
            </div>



            <! Chat Room>
            <div class="col-1 participants">
                <p>Who's in the room:</p>
            </div>
            <div id="chatroom" class="chatroom col-8">
                <div>
                    <h1 id="channelNameHeader" style="background-color: green;">No Channel Selected</h1>
                </div>
                <div id="postsDiv">

                </div>
                <div id="">
                    <input type="text" id="messageType" class="form-control" disabled="true" autocomplete="off">
                    <button onclick="messagePost()" id="submitterBtn" hidden></button>
                    <button id="emitterBtn" hidden></button>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</html>
