<!DOCTYPE html>

<html lang="en">
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" type="image/x-icon">
        <title>ChatRoom</title>
    </head>
    <body>
        <div style="height: 5%;">
            <a href="" class="navbar-brand col-1 offset-1 myNav" style="text-align: left;">
                <span style="color: blue;">Chat</span>
                <span style="color: orange;">Room</span>
            </a>
        </div>


        <div style="height: 95%;">
            <div class="container-fluid" hidden="true" id="nameForm">
                <br>
                <h3 style="text-align: center; color: blue">Please submit a display name</h3>
                <br>
                <form action="" class="col-4 offset-4" onsubmit="addDisplayName()">
                    <input type="text" class="form-control" style="text-align: center; border-radius: 25px;" placeholder="name" id="displayName">
                    <input type="submit" class="form-control btn btn-primary">
                </form>
            </div>
            <div id="restOfApp" class="restOfApp row" style="height: 100%;">
                <div id="sidebar" class="col-3 sidebar">
                    <br>
                    <div class="container-fluid" style="text-align: center;">
                        <h3 id="userName" class="announcement"></h3>
                    </div>
                    

                    <div class="container-fluid" style="text-align: center;" >
                        <div id="channelCreateDiv">
                            <h3 class="announcement">Create New Channel</h3>
                            <input type="text" placeholder="channel name" class="form-control buttonPadding" style="text-align: center;" id="channelName">
                            <button class="btn btn-primary form-control col-5 buttonPadding " id="createBtn">Create</button>
                            <button hidden id="emitterChannelCreated"></button>
                        </div>
                    </div>
                    <br><br>
                    <div class="container-fluid" style="text-align: center;" id="channelListDiv">
                        <h3 class="announcement">List Of Channels:</h3>
                        <div id="channelList">
                                
                        </div>
                    </div>
                </div>



                <! Chat Room>
                <div style="height: 96%;" class="col-8 noPad">
                    <div id="chatroom" class="chatroom">
                        <div class="col-12 channelTitle">
                            <h1 id="channelNameHeader">No Channel Selected</h1>
                        </div>
                        <div id="postsDiv">
                            <br>
                            <br>
                        </div>
                        <div class="">
                            <button onclick="messagePost()" id="submitterBtn" hidden></button>
                            <button id="emitterBtn" hidden></button>
                        </div>
                    </div>
                </div>

                <div id="whosInAppend" class="col-1 whosIn">
                    <h6 class="announcement">Whos in the chat:</h6>
                    <div id="whosIn">
                        
                    </div>
                </div>

                <div style="height: 5%;" class="col-8 offset-3">
                    <input type="text" id="messageType" class="form-control" disabled="true" autocomplete="off" style="width: 66.5%;">
                </div>
            </div>
        </div>



    </body>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</html>
