.bg-custom {
    background-color: #001f3f;
}

body, html {
    background-color: #001f3f;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    overflow-x: hidden;
}

.channelWrap {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: coral;
}

.chatroom {
    background-color: white;
    text-align: center;
    padding: 0px;
    overflow: auto;
}

.sidebar {
    background-color: green;
    overflow: auto;
}

.participants {
    background-color: orange;
}

#messageType {
    position: fixed;
    bottom: 0px;
    border: solid orange 2px;
}

