.bg-custom {
    background-color: green;
}

body, html {
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.channelWrap {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: orange;
    border-radius: 25px;
}

.chatroom {
    border: 10px solid orange;
    background-color: white;
    text-align: center;
    overflow: auto;
    padding: 0px;
    overflow-y: scroll;
    height: 100%;
}

.sidebar {
    background-color: green;
    overflow: auto;
}

.participants {
    background-color: green;
}

#messageType {
    position: fixed;
    bottom: 0px;
    border: solid orange 10px;
    border-radius: 20px;
    padding: 15px;
    width: 67%;
}

.message {
    background-color: orange;
    padding: 5px;
    display: inline;
    border-radius: 25px;
    font-size: large;
}

.textWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
}

.senderName {
    background-color: orange;
    padding: 5px;
    border-radius: 30px;
    display: inline;
    color: blue;
}

.timeStamp {
    background-color: orange;
    padding: 5px;
    border-radius: 30px;
    display: inline;
    color: blue;
}

#chatroom {
    border-radius: 25px;
}

.announcement {
    background-color: orange;
    border-radius: 25px;
    padding: 10px;
}

.buttonPadding {
    margin-top: 3px;
    border-radius: 25px;
}

.myNav {
    padding: 0px;
    font-size: xx-large;
}

.btn {
    border-radius: 25px;
}

.channelTitle {
    background-color: orange;
    border-radius:15px;
    padding: 6px;
    position: absolute;
    top: 0px;
    width:96%;
}